// Colors
$dark-grey: #333333;
$light-blue: rgb(89, 117, 211); 
$google-blue: rgb(89, 117, 211);
$dark-blue: #364051;
$light-grey: #f7f7f7;
$dark-green: #6778a2;
$dark-grey: #888;
$grey: #666;

// Font Size
$font-large: 1.8rem;
$font-small: 1.2rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
// Mobile stacking div, use @media
$desktop-breakpoint: 45rem;
